.tree {
  background-color: #efefef;
  height: 100%;
  padding: 10px;
  font-family: monospace;
  list-style-type: none;
}

.tree > ol {
  counter-reset: section;
  padding: 0;
}

.tree ol {
  counter-reset: section;                
  list-style-type: none;
}

.tree li::before {
  counter-increment: section;
  content: counters(section, ".") " ";
}

p {
	display: inline-block;
}
