.tree > ol {
  background-color: #efefef;
  height: 100%;
  padding: 10px;
  font-family: monospace;
  list-style-type: none;
  counter-reset: section; 
}

.tree ol {
  counter-reset: section;                
  list-style-type: none;
}

.tree li::before {
  counter-increment: section;
  content: counters(section, ".") " ";
}

p {
	display: inline-block;
}

.input-padding {
  padding-bottom: 1rem;
}

button {
	margin-left: .5rem;
	background-color: transparent;
	border: 0 none;
	padding: .5rem;
	font-size: .75rem;
	border-radius: 50%;
  transition: all .3s ease;
  line-height: 1rem;
}

button:active,
button:hover,
button:focus {
  background-color: rgba(0,0,0,.1);
}
